---
import Header from "@components/landing/Header.astro";
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/sections/Footer.astro";
const { title = "Luis Gallo", description = "Description." } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <BaseHead {title} {description} />
  </head><body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
