.footer {
  position: relative;
  background-color: var(--panel-color);
  padding: 2rem 0;
  font-family: system-ui, sans-serif;
  color: #1a202c;
}

.footer-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-col {
  flex: 1;
  min-width: 250px;
}


.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}