main {
  padding: 65px 0px 65px;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
}

.featured {
  grid-column: span 2;
}

.responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
  /* opcional */
}