main {
  padding: 65px;
}

.container {
  width: 1280px;
  max-width: calc(100% - 2em);
  margin: auto;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
}

.featured {
  grid-column: span 2;
}