---
import LandingPageLayout from "@layouts/LandingPage.astro";
---

<LandingPageLayout>
  <div>
    <h1>404</h1>
    <h2>Page not found</h2>
    <p>Looks like you took a wrong turn... but hey, we all do sometimes 😅</p>

    <button
      @mouseenter="hover = true"
      @mouseleave="hover = false"
      @click="window.location.href = '/'"
    >
      <span x-text="hover ? 'Get me outta here!' : 'Go back home'"></span>
    </button>

    <p>
      Or maybe try <a href="https://www.google.com">Googling it?</a>
    </p>
  </div>
</LandingPageLayout>
