---
import AboutMe from "@components/sections/AboutMe.astro";
import ArrowSeparator from "@components/ui/separator/ArrowSeparator.astro";
import GlowLineSeparator from "@components/ui/separator/GlowLineSeparator.astro";
import LandingPageLayout from "@layouts/LandingPage.astro";

const pageTitle = "About Me";
---

<LandingPageLayout pageTitle={pageTitle}>
  <div style="padding-top: 3rem;"></div>
  <AboutMe />
  <GlowLineSeparator />
</LandingPageLayout>
