---
import AboutMe from "@components/sections/AboutMe.astro";
import GlowLineSeparator from "@components/ui/separator/GlowLineSeparator.astro";
import LandingPageLayout from "@layouts/LandingPage.astro";

const title = "About Me";
---

<LandingPageLayout {title}>
  <div style="padding-top: 3rem;"></div>
  <AboutMe />
  <GlowLineSeparator />
</LandingPageLayout>
