---
import { getCollection } from "astro:content";
import LandingPageLayout from "@layouts/LandingPage.astro";
import HeroSection from "@components/landing/HeroSection.astro";
import AboutMe from "@components/landing/AboutMe.astro";
import LatestPosts from "@components/landing/LatestPosts.astro";
import LatestCheatSheet from "@components/landing/LatestCheatSheet.astro";
import DemoSection from "@components/landing/DemoSection.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);

const sheets = (await getCollection("cheatsheets"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);

const pageTitle = "Home Page";
---

<LandingPageLayout pageTitle={pageTitle}>
  <HeroSection />
  <AboutMe />
  <LatestPosts {posts} />
  <LatestCheatSheet {sheets} />
  <section class="container" id="demos">
    <h2>My Demos</h2>
    <DemoSection />
  </section>
</LandingPageLayout>
