---
import LandingPageLayout from "@layouts/LandingPage.astro";
import HeroSection from "@components/landing/HeroSection.astro";

const pageTitle = "Home Page";
---

<LandingPageLayout pageTitle={pageTitle}>
  <!-- <HeroSection /> -->
  <h2>My awesome blog subtitle</h2>
</LandingPageLayout>
