---
import MyLayout from '../components/MyLayout.astro';
import LandingPageLayout from '../layouts/LandingPage.astro';
---
<LandingPageLayout title="Home Page">
  <p>My page content, wrapped in a layout!</p>
  And this is a component:

</LandingPageLayout>