/*--------------------------------------------------------------
>>> Theme Icon
--------------------------------------------------------------*/

.theme-toggle-btn {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 2;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  transition: background 0.2s;
}
.sun { fill: black; }
.moon { fill: transparent; }
.dark .sun { fill: transparent; }
.dark .moon { fill: white; }