---
import { getCollection } from "astro:content";
import LandingPageLayout from "@layouts/LandingPage.astro";
import BlogPost from "../../components/BlogPost.astro";

const pageTitle = "Cheat Sheets!!";
const allSheets = await getCollection("cheatsheets");
---

<LandingPageLayout pageTitle={pageTitle}>
  <p>Cheat Sheets!</p>
  <ul>
    {
      allSheets.map((sheet) => (
        <BlogPost url={`/cheatsheets/${sheet.id}/`} title={sheet.data.title} />
      ))
    }
  </ul>
</LandingPageLayout>
