---
import { getCollection } from "astro:content";
import LandingPageLayout from "@layouts/LandingPage.astro";
import BlogPost from "../../components/BlogPost.astro";

const pageTitle = "Cheat Sheets!!";
const allSheets = await getCollection("cheatsheets");
---

<LandingPageLayout pageTitle={pageTitle}>
  <section class="container pt">
    <h1>Cheat Sheets!</h1>
    <ul>
      {
        allSheets.map((sheet) => (
          <BlogPost
            url={`/cheatsheets/${sheet.id}/`}
            title={sheet.data.title}
          />
        ))
      }
    </ul>
  </section>
</LandingPageLayout>
