---
import LandingPageLayout from "@layouts/LandingPage.astro";

const pageTitle = "Demos";
---

<LandingPageLayout pageTitle={pageTitle}>
  <h2>My Demos</h2>
  <ul>
    <li><a href="/demos/alpinejs">Alpine JS</a></li>
    <li><a href="/demos/svelte">Svelte</a></li>
    <li><a href="/demos/react">React</a></li>
    <li><a href="/demos/vue">Vue</a></li>
  </ul>
</LandingPageLayout>
