---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Demos";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My Demos</h2>
  <ul>
    <li><a href="/demos/alpinejs">Alpine JS</a></li>
    <li><a href="/demos/svelte">Svelte</a></li>
    <li><a href="/demos/reacy">React</a></li>
    <li><a href="/demos/vue">Vue</a></li>
  </ul>
</BaseLayout>
