---
import LandingPageLayout from "@layouts/LandingPage.astro";

const pageTitle = "Demos";
---

<LandingPageLayout pageTitle={pageTitle}>
  <div class="container">
    <div class="section">
      <h2>My Demos</h2>
      <ul>
        <li><a href="/demos/alpinejs">Alpine JS</a></li>
        <li><a href="/demos/svelte">Svelte</a></li>
        <li><a href="/demos/react">React</a></li>
        <li><a href="/demos/vue">Vue</a></li>
      </ul>
    </div>
  </div>
</LandingPageLayout>
