* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.characters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character {
    width: 200px;
    margin: 10px;
    border: 1px solid gray;
    position: relative;
}

.character h4 {
    padding: 5px 10px;
}

.character img {
    width: 100%;
}

.character .specie {
    position: absolute;
    top: 0;
    right: 0;
    background-color: lightblue;
    color: white;
    padding: 5px;
}

.character .origin {
    padding: 10px;
}