---
const { post } = Astro.props;
console.log(post)
---

<article class="card">
  <a href={`/blog/${post.id}/`}>
    <h3>{post.data.title}</h3>
    <p>{post.data.description}</p>
    <time>{post.data.pubDate}</time>
  </a>
</article>
