<ul>
  <li><a href="/demos/alpinejs">Alpine JS</a></li>
  <li><a href="/demos/svelte">Svelte</a></li>
  <li><a href="/demos/react">React</a></li>
  <li><a href="/demos/vue">Vue</a></li>
  <li><a href="/demos/animations">Web Animations</a></li>
</ul>