---
import PostCard from "./PostCard.astro";
const { posts } = Astro.props;
---

<section class="container">
  <h2>Latest Posts</h2>
  <div class="grid">
    {posts.map((post: any) => <PostCard post={post} />)}
  </div>
</section>
