---
import PostCard from "@components/ui/card/PostCard.astro";

const { posts } = Astro.props;
---

<section>
  <div class="container">
    <h2>Latest Posts</h2>
    <div class="grid">
      {posts.map((post: any) => <PostCard post={post} />)}
    </div>
  </div>
</section>

<style>
  h2 {
    font-size: 2rem;
    text-align: center;
  }
</style>
