---
import ThemeIcon from "@components/ThemeIcon.astro";
const logoText = "Luis Gallo";

const links = [
  { href: "/", text: "Home", active: true },
  { href: "/portfolio", text: "Portfolio" },
  { href: "/about", text: "About" },
  { href: "/blog", text: "Blog" },
  { href: "/cheatsheets", text: "Cheatsheets" },
];
---

<nav>
  <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle" class="menu-icon">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <div class="logo">{logoText}</div>

  <ul class="menu">
    {
      links.map((link) => (
        <li>
          {" "}
          <a href={link.href} class={link.active ? "active" : ""}>
            {" "}
            {link.text}{" "}
          </a>{" "}
        </li>
      ))
    }
  </ul>

  <ThemeIcon />
</nav>

<style>
  a {
    color: var(--text-color);
  }
  nav {
    position: fixed;
    width: 100%;
    background: var(--bg-color);
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
  }

  nav ul {
    list-style: none;
    gap: 1rem;
  }
  #menu-toggle {
    display: none;
  }
  .menu {
    display: flex;
    gap: 1rem;
  }
  .menu-icon {
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
    cursor: pointer;
  }
  .menu-icon span {
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    background-color: var(--text-color);
    transition: 0.3s;
  }
  .menu-icon span:nth-child(1) {
    top: 0;
  }
  .menu-icon span:nth-child(2) {
    top: 9px;
  }
  .menu-icon span:nth-child(3) {
    bottom: 0;
  }
  @media (max-width: 600px) {
    .menu {
      display: none;
      flex-direction: column;
      gap: 0.5rem;
    }
    .menu-icon {
      display: block;
    }
    #menu-toggle:checked + .menu-icon ~ .menu {
      display: flex;
    }
    #menu-toggle:checked + .menu-icon span:nth-child(1) {
      transform: rotate(45deg);
      top: 9px;
    }
    #menu-toggle:checked + .menu-icon span:nth-child(2) {
      opacity: 0;
    }
    #menu-toggle:checked + .menu-icon span:nth-child(3) {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    nav {
      justify-content: space-between;
    }
    nav ul {
      display: none;
      flex-direction: column;
      background: var(--bg-color);
      position: absolute;
      top: 65px;
      left: 0;
      width: 100%;
      padding: 1rem;
    }
  }
</style>
