<section class="relative h-[80vh] overflow-hidden bg-gray-900 text-white flex items-center justify-center"
  x-data="parallaxEffect()" x-init="init()" @scroll.window="onScroll">
  <!-- Fondo en parallax -->
  <div
    class="absolute top-0 left-0 w-full h-full bg-cover bg-center will-change-transform transition-transform duration-100"
    :style="`background-image: url('https://pxpx.imgix.net/2021/10/parallax-1.jpg'); transform: translateY(${offset}px);`">
  </div>
</section>


<script>
  function parallaxEffect() {
    return {
      offset: 0,
      speed: 0.3, // 0.1 = más suave, 1 = igual al scroll

      init() {
        this.onScroll(); // Inicial
      },

      onScroll() {
        const rect = this.$el.getBoundingClientRect();
        const windowHeight = window.innerHeight;
        if (rect.top < windowHeight && rect.bottom > 0) {
          this.offset = rect.top * this.speed;
        }
      }
    };
  }
</script>