@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/typography.css";

@import "./components/layout.css";
@import "./components/card.css";
@import "./components/buttons.css";
@import "./components/about.css";
@import "./components/footer.css";

/* Extra global (si necesitas cosas pequeñas aquí) */
body {
  background: var(--bg-color);
  color: var(--text-color);
}

h2 {
  font-size: 1.875rem;
  /* 3xl */
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--foreground);
}