<!-- BACK TO TOP -->
<p id="back-top" x-data="backtoTop" x-show="show" x-transition.opacity
  style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
  <a href="#top" title="Back to Top">
    <span class="text-4xl" x-html="icon"></span>
  </a>
</p>

<script>
  function backtoTop() {
    return {
      show: false,
      icon: "🔝",
      threshold: 200,
      init() {
        window.addEventListener('scroll', () => {
          this.show = window.scrollY > this.threshold;
        });
      }
    }
  }
</script>