---
import LandingPageLayout from "@layouts/LandingPage.astro";

const pageTitle = "Demos";
---

<LandingPageLayout pageTitle={pageTitle}>
  <section class="container">
    <h1>My Animations</h1>
  </section>
</LandingPageLayout>
